version: "3.9"
services:
  web:
    image: php:8.2-apache
    ports:
      - "8080:80"
    volumes:
      - "C:/Users/Lismi/Desktop/Ejercicios/Ejercicios IAPWE/Proyecto_AST_ABA/src:/var/www/html"
  
  bbdd:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: root
    volumes:
      - bbdd_datos:/var/lib/mysql

  bbddcliente:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: bbdd
      PMA_USER: root
      PMA_PASSWORD: root

volumes:
  bbdd_datos: